@import "../../styles/variablels";
@import "../../styles/breakpoints";

.gallery {
  padding: $spacer-5 126px;
  color: $primary-color;

  h1 {
    font-size: $text-9xl;
    font-family: $primary-font;

    @include breakpoint-down(sm) {
      font-size: $text-4xl;
    }
  }

  .gallery__search {
    margin-top: 50px;
    width: 100%;

    display: flex;
    gap: 5px;

    input {
      border-radius: 100px 0px 0px 100px;
      border: none;
      width: 100%;
      padding: 19.5px;
      padding-left: 52px;
      background-color: #fff;
      font-family: $secondary-font;
      background-repeat: no-repeat;
      background-position: 18px center;
      font-size: $text-lg;

      &:focus {
        outline: 1px solid $accent-color;
      }

      @include breakpoint-down(sm) {
        font-size: $text-base;
        padding: $spacer-1;
        padding-left: 52px;
      }
    }
  }

  .gallery__filters {
    margin-top: 40px;
    display: flex;
    gap: 28px;
    justify-content: space-between;

    @include breakpoint-down(md) {
      gap: $spacer-1;
      overflow-x: scroll;
      scrollbar-color: $accent-color transparent;
      scroll-margin-top: 16px;
      scrollbar-width: 3px;
    }
  }

  .gallery__main {
    margin-top: 96px;
  }

  @include breakpoint-down(md) {
    padding: $spacer-2;
  }
  @include breakpoint-down(sm) {
    padding: $spacer-1;
  }
}
