@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Playball&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "./variablels";
@import "./breakpoints";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: inherit;
  font-family: inherit;
}

img,
svg,
video,
picture {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 100%;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $secondary-font;
  color: $primary-color;
  font-weight: $fw-medium;
}

//helper classes
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 4vw;

  @include breakpoint-down(xxs) {
    max-width: 100%;
  }

  @include breakpoint-down(xs) {
    max-width: 475px;
  }

  @include breakpoint-down(sm) {
    max-width: 640px;
  }

  @include breakpoint-down(md) {
    max-width: 980px;
  }

  @include breakpoint-down(lg) {
    max-width: 1024px;
  }

  // xxl desktop
  @include breakpoint-down(xl) {
    max-width: 1280px;
  }
}

.section-py {
  padding-block: $spacer-5;

  @include breakpoint-down(sm) {
    padding-block: 2.75rem;
  }
}

.paragraph {
  line-height: $spacer-2;
}

.paragraph2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $spacer-3;
}

.caption {
  font-size: $text-xl;
  font-weight: 600;
}

.title {
  font-size: $text-8xl;
  font-family: $primary-font;
  font-weight: $fw-medium;

  @include breakpoint-down(lg) {
    font-size: $text-4xl;
  }

  @include breakpoint-down(md) {
    font-size: $text-3xl;
  }
}

//button
.btn-light {
  padding: 0.625em 1em;
  border-radius: 50vw;
  border: 3px solid $secondary-color;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  font-size: $text-lg;
  font-weight: $fw-medium;
  color: $secondary-color;
  font-family: $secondary-font;
  transition: 0.3s ease all;
  cursor: pointer;
}

.btn-dark {
  padding: 0.625em 1em;
  border-radius: 50vw;
  border: 3px solid $primary-color;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  font-size: $text-lg;
  font-weight: $fw-medium;
  color: $primary-color;
  font-family: $secondary-font;
  transition: 0.3s ease all;
  cursor: pointer;
}

.btn-light:hover,
.btn-dark:hover {
  gap: 20px;
}
