@import "../../styles/variablels";
@import "../../styles/globals";
@import "../../styles/breakpoints";

.home {
  background-color: $secondary-color;
  // padding-inline: 7.75rem;
  // height: $height-vh;

  &__hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding-block: $spacer-5;
    

    .hero-content{
      display: flex;
      flex-direction: column;
      gap: $spacer-4;

      .hero-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        min-width: 100%;
        gap: 13.3125rem;
        gap: clamp($spacer-2, 9vw, 13.3125rem);
        padding-inline: 1.5625rem;
  
        @include breakpoint-down(xs){
          grid-template-columns: 1fr;
          gap: $spacer-2;
        }
  
        .hero-display {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
      
          h1 {
            font-family: $primary-font;
            font-weight: $fw-medium;
            font-size: 4rem;

            @include breakpoint-down(lg){
              font-size: 3rem;
            }

            @include breakpoint-down(md){
              font-size: 2.75rem;
            }

            // font-size: clamp(2rem, 9vw, 4rem);
            // white-space: nowrap;
  
  
          }

          @include breakpoint-down(xs){
            text-align: center;
          }
        }
  
        .hero-img-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;


          .hero-img-container {
            // width: clamp(16.625rem, 50vw, 30.25rem);
            // height: clamp(16.625rem, 50vw, 30.25rem);
            width: 30.25rem;
            height: 30.25rem;
            overflow: hidden;
            border-radius: 50vw;

            @include breakpoint-down(lg){
              width: 20rem;
              height: 20rem;
            }

            @include breakpoint-down(md){
              width: 16.625rem;
              height: 16.625rem;
            }
          }
  
          .hero-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50vw;
          }
        
        }
      }
    }


  }

  .hero-paragraphs {
    display: flex;
    flex-direction: row;
    padding-inline: 1.5625rem;
    gap: 13.6875rem;

    @include breakpoint-down(md){
      flex-direction: column;
      gap: $spacer-2;
    }

    & > p {
      line-height: 1.5rem;
    }
  }

  /*animated chevron*/
  .hero-scroll {
    position: absolute;
    bottom: 1rem;
    z-index: 99;
    left: 50%;
    transform: translate(-50%);
    background: transparent;
    border: none;
    color: $primary-color;
    opacity: 0.75;
    transition: 0.25s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  @keyframes hero--glow {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }

    50% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(0.8);
    }
  }

  .chevron {
    animation: hero--glow 3s infinite;
    animation-delay: 0.75s;
  }

  &__about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    @include breakpoint-down(sm){
      grid-template-columns: 1fr;
    }

    .about-img-container {
      height: 100dvh;
      overflow: hidden;

      @include breakpoint-down(sm){
        height: 50dvh;
      }

      .about-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .about-info-wrapper {
      background-color: $primary-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-inline: 3rem;
      height: 100dvh;
      width: 100%;

      @include breakpoint-down(sm){
        height: 50dvh;
      }


      .about-info {
        display: flex;
        flex-direction: column;
        gap: $spacer-4;
        color: $secondary-color;
        align-items: flex-start;

        .about-heading {
          display: flex;
          flex-direction: column;
          gap: $spacer-1;
          width: 100%;
    
        }
  
      }
  
    }

  }

  &__learn-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  
    .learn-copy {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $spacer-3;
      align-items: center;

      @include breakpoint-down(sm){
        grid-template-columns: 1fr;
      }

      .learn-heading{
        display: flex;
        flex-direction: column;
        gap: $spacer-1;
      }
    }
  
    .learn-item {
      display: flex;
      flex-direction: row;
      gap: 5.875rem;
      

      @include breakpoint-down(sm){
        flex-direction: column;
        align-items: center;
        gap: 4rem;
      }

      & > div{
        width: 50%;

        @include breakpoint-down(md){
          width: 100%;
        }
      }
  
      .learn-img-container {
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 20px;

        @include breakpoint-down(lg){
          margin: 0 auto;
          aspect-ratio: 4/3;
        }
  
        .learn-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .learn-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacer-5;
  
        .learn-style-copy {
          display: flex;
          flex-direction: column;
          gap: $spacer-2;
    
        }
      }
  
      
      .learn-style-paragraph {
        display: flex;
        flex-direction: column;
        gap: $spacer-3;
        line-height: $spacer-2;
      }
    }

    .learn-item:last-child{
      @include breakpoint-down(sm){
        flex-direction: column-reverse;
        
      }
    }
  
    .modern-calligraphy{
      
        .modern-style-wrapper{
          display: flex;
          flex-direction: column;
          gap: $spacer-2;
        }
  
        .modern-extra-imgs{
          display: flex;
          gap: 3rem;
          width: 100%;
          height: 8.875rem;

          @include breakpoint-down(md){
            flex-direction: column;
            max-width: 9.37rem;
            height: 6.25rem;
          }

          .extra-img1, .extra-img2{
            width: 17.6875rem;
            height: 100%;

            & > img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: $border-radius;
            }
          }
  
        }

    }
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: $spacer-5;
    background-color: $primary-color;
    color: $secondary-color;

    .gallery-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $spacer-5;
    }
  
    .gallery-copy {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: $spacer-3;

      @include breakpoint-down(sm){
        grid-template-columns: 1fr;
       
      }

      @include breakpoint-down(xs){
        grid-template-columns: 1fr;
        text-align: left;
      }
      
      
      .gallery-heading{
        display: flex;
        flex-direction: column;
        gap: $spacer-1;
      }
    }
  
    .gallery-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      gap: 4rem;

      @include breakpoint-down(sm){
        grid-template-columns: 1fr;
      }
  
      .gallery-card {
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 20px;

        @include breakpoint-down(sm){
          margin: 0 auto;
          aspect-ratio: 4/3;
        }
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__contact-section{
      display: grid;
      grid-template-columns: 1fr 1fr;

      @include breakpoint-down(sm){
        grid-template-columns: 1fr;
      }
  
      .contact-img-container {
        height: 100vh;
        overflow: hidden;

        @include breakpoint-down(sm){
          height: 50vh;
        }
  
        .contact-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .contact-info-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: $white;

        @include breakpoint-down(sm){
          height: 50vh;
        }

        .contact-info{
          display: flex;
          flex-direction: column;
          gap: $spacer-3;
  
          .contact-items{
            display: flex;
            flex-direction: column;
            gap: $spacer-4;

            @include breakpoint-down(sm){
              gap: $spacer-2;
            }
  
            .contact-item{
              display: flex;
              flex-direction: row;
              gap: 1.25rem;
              border-block: 1px solid $primary-color;
              padding-block: 1.125rem;
            }
          }
        }

      }
      
  }
}