@import "../../styles/variablels";
@import "../../styles/globals";
@import "../../styles/breakpoints";

.home {
  background-color: $secondary-color;
  // padding-inline: 7.75rem;
  // height: $height-vh;

  &__hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding-top: 5rem;
  }

  &__top {
    position: relative;
    display: grid;
    width: 100%;
    gap: 13.3125rem;
    padding-inline: 1.5625rem;
    grid-template-columns: 1fr 1fr;
  }

  &__hero-display {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      font-family: $primary-font;
      font-weight: $fw-medium;
      font-size: 4rem;
      text-wrap: wrap;
    }
  }

  &__img-wrapper {
    display: flex;
    flex-direction: row;
    // margin-left: 5rem;
  }

  &__img-container {
    width: 30.25rem;
    height: 30.25rem;
    overflow: hidden;
    border-radius: 50vw;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50vw;
  }

  &__paragraphs {
    display: flex;
    flex-direction: row;
    padding-inline: 1.5625rem;
    gap: 13.6875rem;

    & > p {
      line-height: 1.5rem;
    }
  }

  /*animated chevron*/
  &__scroll {
    position: absolute;
    bottom: -5rem;
    z-index: 99;
    left: 50%;
    transform: translate(-50%);
    background: transparent;
    border: none;
    color: $primary-color;
    opacity: 0.75;
    transition: 0.25s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  @keyframes hero--glow {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }

    50% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(0.8);
    }
  }

  .chevron {
    animation: hero--glow 3s infinite;
    animation-delay: 0.75s;
  }

  .about {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    min-width: min(
      #{$site-max-width},
      calc(100vw - #{$site-gutter} * 2 - #{$inset-padding} * 2)
    );

    &__img-container {
      aspect-ratio: 1;
      overflow: hidden;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__info-wrapper {
      background-color: $primary-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      padding-inline: 5rem 7.75rem;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: $spacer-4;
      color: $secondary-color;
      align-items: flex-start;
    }

    &__heading {
      display: flex;
      flex-direction: column;
      gap: $spacer-1;

      h1 {
        font-family: $primary-font;
        font-size: $text-8xl;
        font-weight: $fw-medium;
      }
    }

    button {
      padding: 10px 16px;
      border-radius: 50vw;
      border: 3px solid $secondary-color;
      display: flex;
      align-items: center;
      gap: 12px;
      background-color: transparent;
      font-size: $text-lg;
      font-weight: $fw-medium;
      color: $secondary-color;
      font-family: $secondary-font;
      margin-top: $spacer-4;
    }
  }
}

.learn {
  display: flex;
  flex-direction: column;
  // gap: 5rem;

  &__copy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    & > div:first-child {
      display: flex;
      flex-direction: column;
      gap: $spacer-1;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;

    & > div {
      width: 32.1875rem;
      height: 32.625rem;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__description {
      width: 100%;
    }
  }

  &__extra-imgs img {
    width: 17.6875rem;
    height: 11.875rem;
    object-fit: cover;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: $spacer-5;

  &__copy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    gap: 4rem;

    .card {
      width: 32.1875rem;
      height: 32.625rem;
      overflow: hidden;
      border-radius: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//about us section
