@import "../../../../styles/breakpoints";
// @import "../../../../styles/breakpoints";

.filter-button {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 20.5px 30px;

  @include breakpoint-down(md) {
    padding: 16px;
    white-space: nowrap;
  }
}
