@import "../../styles/variablels";
@import "../../styles/breakpoints";

.footer {
  padding: 106px 133px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  color: $secondary-color;

  & > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $spacer-3;
  }

  &__logo {
    font-family: $brand-font;
    font-size: $text-8xl;
    // margin-bottom: 2rem;

    @include breakpoint-down(medium) {
      font-size: $text-4xl;
    }
  }

  p {
    font-size: $text-lg;
    font-family: $secondary-font;
  }

  &__subscribe {
    display: flex;
    border-bottom: 1px solid $secondary-color;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    gap: 4rem;
    // margin-top: 2rem;

    @include breakpoint-down(small) {
      gap: 0;
      justify-content: space-between;
    }

    input {
      background-color: transparent;
      border: none;
      color: $secondary-color;

      &::placeholder {
        color: #646363;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: transparent;
      border: none;
      color: $secondary-color;
      font-family: $secondary-font;
      cursor: pointer;
    }
  }

  &__copyright {
    display: block;
    // margin-top: 78px;
    font-family: $secondary-font;
    font-size: $text-lg;
  }

  &__links-container {
    display: flex;
    justify-content: space-between;
    width: 40%;

    @include breakpoint-down(small) {
      width: 100%;
    }
  }

  &__links {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: $secondary-font;
    font-size: $text-xl;

    li:first-child {
      font-size: $text-2xl;
      font-weight: 600;

      @include breakpoint-down(medium) {
        font-size: $text-lg;
      }
    }

    @include breakpoint-down(medium) {
      font-size: $text-base;
    }
  }

  @include breakpoint-down(medium) {
    padding: $spacer-5 $spacer-3;
  }
  @include breakpoint-down(small) {
    padding: $spacer-3 $spacer-2 $spacer-4;
    flex-direction: column;
  }
}
